.cardContainer {
  display: grid;
  max-width: 300px;
  font-size: 24px;
  .cardTitle {
    margin: 0px;
  }
  .problemNumber {
    margin: 0px;
  }
  .problemStatement {
    max-width: 300px;
    font-size: 24px;
  }
}