

.SVGControls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 30px);
  row-gap: 10px;
}


.goreInputs {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.mainWrapper {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "crossSectionDisplay controlPanel"
  "creasePatternDisplay creasePatternDisplay"; 
  height: 100%; 
  padding-right: 20px;
  padding-left: 20px;
}

.svgContainer {
  grid-area: crossSectionDisplay;
}

.dragAndDropSVG {
  border-style: solid;
  border-width: 1px;
}

.description {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}

.controlPanel {
  grid-area: controlPanel;
}

.creasePatternDisplay {
  grid-area: creasePatternDisplay;
  max-height: 755px;
}