

.SVGControls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 30px) auto;
  row-gap: 10px;
}


.goreInputs {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.mainWrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "crossSectionDisplay controlPanel"
  "creasePatternDisplay creasePatternDisplay"; 
  height: 100%; 
  padding-right: 20px;
  padding-left: 20px;
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "crossSectionDisplay"
    "controlPanel"
    "creasePatternDisplay";
    ;
  }
}

.svgContainer {
  grid-area: crossSectionDisplay;
}

.dragAndDropSVG {
  border-style: solid;
}

.description {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}

.controlPanel {
  grid-area: controlPanel;
}

.creasePatternDisplay {
  grid-area: creasePatternDisplay;
  max-height: 755px;
  @media screen and (max-width: 480px) {
    margin-top: 200px;
  }
}